/*@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.woff2') format('woff2'),
  url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
  font-family: Poppins;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.leftside{
  padding-top: 60px;
  padding-left: 47px;
  display: inline-block;
  width: 400px;    
  background-color: #2F80ED;
  text: color white;
  float:left;
  height: 100vh;
}
.leftside img {
  width: 30px;
  margin-right: 19px;
}
.rightside{
/*  display: inline-block;*/
background-color: white;
}
#txtcolor{
  color: white;
  font-size: 24px;
}
#picture{
 width: 951px;
}
.textlocation{
  float: right;
}
form {
  margin-top: 190px;
}
button {
  width: 300px;
  height: 60px;
  background-color: black;
  text-align: center;
}
button a{
  color: white;
  font-size: 24px;
}
#loginButton{
  margin-top: 30px;
}
#textposition{
  position: relative;
  top: 50px;
  font-size: 36px;
  margin-right: 40px;
  font-weight: 400;
}
#SecondTextLocation{
  position: relative;
  bottom: 38px;
  left: 75px;
  font-size: 36px;
  font-weight:400 ;
}